<!--The content below is only a placeholder and can be replaced.-->
<!-- As a heading -->
<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-between">
    <a class="navbar-brand mb-0 h1" routerLink="/"><img src="/assets/beac_logo.png" style="width:120px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-right" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf="!getUser()">
            <li class="nav-item my-2 my-lg-0">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item my-2 my-lg-0">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf="getUser()">
            <li class="nav-item my-2 my-lg-0">
                <a class="nav-link" routerLink="/profile/{{getUser()._id}}">{{getUser().name}}</a>
            </li>
            <li class="nav-item my-2 my-lg-0">
                <a class="nav-link" routerLink="/beacons">My Beacons</a>
            </li>
            <li class="nav-item my-2 my-lg-0">
                <a class="nav-link" href="/" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

