.action-icon {
    position: absolute;
    width: inherit;
    height: inherit;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    text-align: center;
}

.icon-container {
    width: 80px;
    height: 80px;
    display: inline-block;
}
