<div class="container">
    <h1 class="pt-3">My Beacons</h1>
    <div class="accordion" id="accordion">
        <div class="card" *ngFor="let beacon of beacons; let i = index">
            <div class="card-header" style="height:110px;" id="heading{{i}}">
                <h5 class="mb-0 row">
                    <div class="col-10">
                        <h3 data-toggle="collapse" attr.data-target="#collapse{{i}}" aria-expanded="true" attr.aria-controls="collapse{{i}}">
                            {{beacon.name}}
                        </h3>
                        <h5 class="text-secondary btn-link">
                            {{beacon.action.value}}
                        </h5>
                    </div>
                    <div class="col-2">
                        <div class="{{beacon.action.kind | action:'color'}}">
                            <div class="icon-container" [@fade-in]="loading_id==beacon.id"  data-toggle="collapse" attr.data-target="#collapse{{i}}" aria-expanded="true" attr.aria-controls="collapse{{i}}">
                                <div class="action-icon" [@fade-out]="!loading || loading_id!=beacon.id ? 'visible' : 'invisible'">
                                    <a class="btn {{beacon.action.kind | action:'icon'}} fa-2x" style="padding-top:15px;border:0px;"></a>
                                </div>
                                <div class="spinner-border" style="width:inherit;height:inherit;border-width: 5px;position: absolute;" role="status" [@fade-out]="loading && loading_id==beacon.id ? 'visible' : 'invisible'">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </h5>
            </div>
        
            <div id="collapse{{i}}" class="collapse" [class.show]="loading_id==beacon.id" attr.aria-labelledby="heading{{i}}" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <form (change)="updateBeacon($event)">
                                <div class="form-group row align-items-center">
                                    <div class="col-6">
                                        <label for="inputName">Name</label>
                                        <input class="form-control" id="inputName" placeholder="Name" value="{{beacon.name}}">
                                    </div>
                                    <div class="col-6">
                                        <label for="inputId">ID</label>
                                        <input class="form-control" id="inputId" placeholder="0x000..." value="{{beacon.id}}" disabled>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-2 col-sm-3">
                                        <label class="mr-sm-2 sr-only" for="action_kind">Action</label>
                                        <select class="custom-select" id="action_kind">
                                            <option value={{beacon.action.kind}} selected>{{beacon.action.kind | action}}</option>
                                            <ng-container *ngFor="let action of filter(actions(), beacon.action.kind); let i = index">
                                                <option value="{{action.id}}">{{action.name}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="col-8">
                                        <label class="sr-only" for="action_value">Value</label>
                                        <input type="text" class="form-control" id="action_value" placeholder="value" value="{{beacon.action.value}}">
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>